.texto {
    color: indigo;
    text-align: center;
    font-size: 20pt;
}
h1 {
    color: darkgreen;
    text-align: center;
}
h2 {
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-evenly;
}
.images img{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.videomapa {
    display: flex;
    justify-content: space-evenly;
}
.videomapa iframe{
    width: 300px;
    height: 300px;
}
.box{
    border-color: darkblue;
    border-style: solid ;
    justify-content: space-between;
    display: flex;
    background-color: bisque;
    align-items: center;
}
.c{
    margin-right: 5px;
}
.java{
    margin-left: 5px;
}
body{
    background-color:lightgray ;
}
.red{
    color: red;
    text-align: center;
}
table{
    border: dashed red;
    color: red;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th{
    
    padding: 8px 20px;
}
td {
    
    padding: 8px 20px;
}
.avisos{
    border-style: hidden;
    background-color: yellow;
    display: flex;
    width: 600px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;

}
li {
    color: green 
}
nav {
    background-color: lightskyblue ;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
nav a {
    color: darkred;
    text-decoration:  none;
    font-weight: bold;
}
h3{
    font-family: "Cosmic Sans MS", "Cosmic Sans", cursive;
}
.quadradobaixo{
    background-color: bisque;
    justify-content: space-between;
    display: flex;
    align-items: center;
}